:root{
    --schedule-item-background: blue;
    --schedule-item-marker-background: transparent;
    --schedule-item-color: white;
    --schedule-track-height: 120px;
    --schedule-track-background: lightgrey;
    --schedule-track-marker-background: darkgrey
}