@import './variables';

.schedule__body {
  border: 1px solid black;
  padding: $base-padding;
}
.schedule__track{
  height: var(--schedule-track-height);
  position: relative;
  background-color: var(--schedule-track-background);
  &-label{
    position: absolute;
    left: 0;
    top:0;
  }
  &--markers{
    height: calc(var(--schedule-track-height) / 2);
    background-color: var(--schedule-track-marker-background);
  }
}

.schedule__track + .schedule__track{
  margin-top: $base-padding;
}

.schedule__item {
  height: inherit;
  position: absolute;
  overflow: hidden;
  background-color: var(--schedule-item-background);
  color: var(--schedule-item-color);
  &--day{
    background-color: var(--schedule-item-marker-background);
    border-right: 1px solid black;
  }
  &--day:last-child{
    border-left: 1px solid black;
  }
  &-title{
    padding-top: $base-padding;
    padding-left: $base-padding
  }
}
