.schedule__body {
  position: relative;
}
.schedule__item {
  position: absolute;
  overflow: hidden;
  background-color: var(--schedule-item-background);
  color: var(--schedule-item-color);
  &--Berth- {
    &01 {
      top: 0px;
    }
    &04 {
      top: var(--schedule-track-height);
    }
    &05 {
      top: calc(2 * var(--schedule-track-height));
    }
    &06 {
      top: calc(3 * var(--schedule-track-height));
    }
    &09 {
      top: calc(4 * var(--schedule-track-height));
    }
  }
}
